* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: black;
}

a, button {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
}

#local-video, #preview-canvas, #video-recorder, .video {
    height: 100%;
    width: 100%;
}

#video-recorder, .btn-control, #buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover, button:hover, svg:hover {
    cursor: pointer;
    opacity: .75;
}

svg:hover {
    fill: #4ab3ff;
    stroke: #4ab3ff;
}

#rec:hover {
    fill: red;
    stroke: red;
}

#fullscreen-btn {
    position: absolute;
    right: 10px;
    border: solid thin white;
}

#stop-btn, #rec, #pause {
    margin: 10px
}

#buttons {
    width: 100%;
}

#video-controls {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.btn-control:disabled {
    background: gray;
}

.btn-control:enabled {
    background: #0095ff;
}

.btn-control {
    outline: none;
    border: none;
    margin: 10px;
    border-radius: 4px;
    color: white;
    padding: 5px;
}